* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: Arial Helvetica ;
	scroll-behavior: smooth;
}

#main {
	text-align:center;
	max-width: 1920px;
	margin: auto;
}

.clear {
	clear: both;
}

#header {
	height: 47px;
	background-color: #b29c6e;
}

#header .adress {
	font-size: 13px;
	margin-left: 40px;
	padding-top: 12px;
	color: #fff;
	float: left;
}

#header a {
	color: #fff;
	text-decoration: none;
}

#header a:hover {
	opacity: 0.8;
}

#header .adress-icon {
	color: #fff;
}

#header .adress-icon:hover {
	color: yellow;
	cursor: pointer;
}

#header .header-right {
	float: right;
   padding: 6px 40px;
}

#header .phone-num {
	font-size: 14px;
	color: #fff;
	display: inline-block;
	padding-right: 20px;
}

#header .header-search {
	padding: 8px;
	border: none;
}

#header .header-search-icon {
  position: absolute;
  color: rgba(0,0,0,0.6);
  font-size: 23px;
  top: 11px;
  right: 45px;
}

#header .header-search-icon:hover {
	cursor: pointer;
	opacity: 0.7;
}

#nav-contaner {

}

#nav-contaner .nav-logo {
	text-align: center;
	margin: 25px 50px;
}

#nav-contaner .nav-logo-link {

}

#nav-contaner .nav-logo-img {
    width: 150px;
    margin: 0 auto;
}

#nav {
	margin: 0 auto ;
	text-align: center;
  padding-bottom: 34px;
  position: relative;
}

#nav > li {
	display: inline-block;
	padding: 10px 0;
	border-left: 1px solid #53534a;
	opacity: 0.85;
}

#nav .nav-last {
	border-right: 1px solid #53534a;
}

#nav .subnav-list:hover a,
#nav > li:hover > a {
	color: #000;
	text-decoration: underline rgba(204, 153, 0,0.4);
	opacity: 1;
}

#nav > li > a {
	color: #53534a ;
	font-size: 15px;
	padding: 0 30px;
	text-decoration: none;
	text-transform: uppercase;
}

#nav > li:hover .subnav {
	display: block;
}

#nav .subnav {
  width: 100%;
  height: 476px;
  background-color: #ddd;
  position: absolute;
  top: 38px;
  left: 0;
  list-style-type: none;
  padding: 40px 140px;
  float: left;
  z-index: 1;
  display: none;
}

#nav .subnav .subnav-list {
  font-size: 14px;
  display: inline-block;
  width: 24%;
	opacity: 0.75;
  margin: 9px 0;
  text-align: left;
}


#nav .subnav-list::first-letter {
  font-size: 15px;
  font-weight: 900;
}

#nav .subnav .subnav-link {
	text-decoration: none;
	color: #53534a;
	text-transform: uppercase;
}

#id {

}

#slides {
	overflow: hidden;
}

#slides .slides-img {
	width: 100%;
	max-width: 100%;
	animation: slide ease 4s;
}

#slides .slides-img:hover {
	animation: slideHover ease-in 4s;
	transform: scale(1.1);
	opacity: 0.75;	
}

#trademark {
	margin: 0px 82px;
	padding: 40px 15px 0;
	font-size: 13px;
	text-align: center;
}

#trademark .trademark-heading {
 	margin-bottom: 20px;
 	text-transform: uppercase;
 	display: inline-block;
 	font-weight: 500;
 	letter-spacing: 4px;
}

#trademark .trademark-heading:hover {
	text-decoration: underline;
}

#trademark .trademark-heading-link {
	color: #53534a;
	text-decoration: none;
}

#trademark .trademark-list {
  width: 100%;
  display: block;
}

#trademark .trademark-heading-icons {
  position: relative;
  top: -8px;
  margin: 0 8px;
  color: rgba(255,255,255,1);
  min-width: 60px;
  border-bottom: 1px solid #ddd7d5;
  display: inline-block;
}

#trademark .trademark-list-items {
  width: 33.333%;
  display: inline;
}

#trademark .trader-list-img {
    max-width: 260px;
    margin: 0 44px;
    opacity: 0.5;
    animation: trademarkImg ease 1s;
}

#trademark .trader-list-img:hover {
	animation: trademarkImgHover ease 1s;
	opacity: 1;
}

#trademark .trademark-footer {
	margin: 32px 0;
}

#trademark .trademark-footer-link {
	text-decoration: none;
  font-size: 13px;
  color: #63635c;
  padding: 6px 48px;
  border: 1px solid #d7cfcd;
  text-transform: uppercase;
}

#trademark .trademark-footer-link:hover {
	background-color: #dbb86f ;
}

.background_page {
	width: 100%;
}

.background_page .background__img {
	width: 100%;
}

#control {
	width: 100%;
	min-width: 100px;
	background-color: #e2deda;
  display: flex;
  justify-content: space-between;
  margin-top: -4px;
  color: #53534a;
}

#control h4 {
	font-size: 14px;
}

#control .control__nav {
	display: inherit;
}

#control .control__nav__item {
	padding: 0 10px;
  border-right: 1px solid;
  position: relative;
}

#control .control__nav__item:hover .item__subnav {
	display: block;
}

#control .control__name {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
}

#control .control__nav__icon {
	font-size: 12px;
	padding-left: 4px;
	color: red;
	font-weight: 900;
}

#control .item__subnav {
  list-style-type: none;
  background-color: #fff;
  position: absolute;
  left: 0;
  border: 1px solid #53534aa6;
  min-width: 150px;
  display: none;
}

#control .control__first__item .subnav__list::first-letter {
	font-size: 14px;
  font-weight: 700;
}

#control .subnav__list {
  padding: 2px 7px;
  margin-right: 16px;
}

#control .subnav__list:hover .subnav__link {
	text-decoration: underline;
}

#control .subnav__link {
	text-decoration: none;
  color: #53534a;
  line-height: 1.35;
  font-size: 12px;
  font-family: Arial;
  padding: 2px 6px;
}

#control .control__last__item {
	border: none;
}

#control .control__space {
  padding: 18px;
}

#subpage__content {
 width: 100%;
 max-width: 1920px;
 padding-top: 30px;
}

#subpage__content .content__item {
	display: inline-block;
  width: 33.1%;
  text-align: center;
  padding: 0px 15px;
  margin-bottom: 80px;
}

#subpage__content .content__item:hover .link__img {
	transform: scale(1.1);
} 

#subpage__content .content__img {
	width: 100%;
  padding-top: 20px;
}

#subpage__content .content__img .content__link {

}

#subpage__content .content__img .link__img {
	width: 100%;
}


#subpage__content .content__discription {
  padding: 35px 0 5px;
  font-size: 11px;
  color: #53534a;
}

#subpage__content .content__discription:hover {
	cursor: pointer;
	text-decoration: underline;
}

#subpage__content .content__discription h4 {
	font-size: 12px;
  font-family: Helvetica;
  font-weight: 700;
  padding-bottom: 8px;
}

#subpage__content .content__preze {
	font-size: 14px;
}

#subpage__content .content__buy {
	display: inline-block; 
  text-transform: uppercase;
  font-size: 16px;
  margin: 8px 0 15px;
  width: 100%;
}

#subpage__content .content__preze__sell {
	display: inline-block;
  font-weight: 900;
  margin-right: 8px;
  text-decoration: line-through;
}

#subpage__content .content__preze__real {
  font-weight: 900;
  color: red;
}

#subpage__content .content__buy__about {
	display: inline-block;
  background-color: #53534a;
  border: 1px solid #d7cfcd;
  color: #fff;
  padding: 5px;
  width: 50%;
  cursor: pointer;
}

#subpage__content .content__buy__about:hover {
	background-color: #fff;
	color: #53534a;
}

#subpage__content .content__buy__click {
  display: inline-block;
  border: 1px solid #d7cfcd;
  padding: 5px;
  width: 50%;
  margin-left: -5px;
  cursor: pointer;
}

#subpage__content .content__buy__click:hover {
	background-color: #dbb86f;
}

#up_page {
	position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: #d3cbcb;
  display: flex;
  justify-content: center;
  align-items: center;
}

#up_page .up__page__link {
  text-decoration: none;
  padding: 16px;
}

#up_page .up__page__link:hover .up__icon {
	opacity: 1;
}

#up_page .up__icon {
	color: #000;
  opacity: 0.7;
}



@keyframes slideHover {
	from{
		transform: translateX(0);
		opacity: 1;
	}
	to{
		transform: scale(1.1);
		opacity: 0.75;
	}
}

@keyframes slide {
	from{
		transform: scale(1.1);
		opacity: 0.75;		
	}
	to{
		transform: translateX(0);
		opacity: 1;
	}
}


@keyframes trademarkImgHover {
	from{
		opacity: 0.5;
	}
	to{
		opacity: 1;
	}
}

@keyframes trademarkImg {
	from{
		opacity: 0.9;
	}
	to{
		opacity: 0.5;
	}
}