* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}

#main {
	text-align:center;
	max-width: 1520px;
	margin: auto;
}

.clear {
	clear: both;
}

.slow__hover__button {
  transition: all 0.5s ease;
}

#header {
  display: flex;
  justify-content:space-between;
  align-items: center;
	height: 47px;
	background-color: #b29c6e;
  padding: 0 120px;
}

.header_left {
  font-size: 14px;
	color: #fff;
}

#header .address-icon {
	color: #fff;
}

#header .address-icon:hover {
	color: yellow;
	cursor: pointer;
}

.header_right {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

#header a {
  font-size: 14px;
	color: #fff;
	text-decoration: none;
}

#header a:hover {
	opacity: 0.8;
}

#header .phone-num {
	font-size: 14px;
	color: #fff;
	display: inline-block;
	padding-right: 20px;
}

.search_container {
  position: relative;
}

.header-search {
  min-width: 220px;
  color: #8d8c81;
  font-style: italic;
	padding: 8px;
	border: none;
  outline:none;
}

.header-search-icon {
  position: absolute;
  color: #53534a;
  font-size: 20px;
  top: 5px;
  right: 10px;
}

#header .header-search-icon:hover {
	cursor: pointer;
	opacity: 0.7;
}

#nav-contaner {

}

#nav-contaner .nav-logo {
	text-align: center;
	margin: 25px 50px;
}

#nav-contaner .nav-logo-link {

}

#nav-contaner .nav-logo-img {
    width: 150px;
    margin: 0 auto;
}

#nav {
	margin: 0 auto ;
	text-align: center;
  padding-bottom: 34px;
  position: relative;
}

#nav > li {
	display: inline-block;
	padding: 10px 0;
	border-left: 1px solid #53534a;
	opacity: 0.85;
  overflow: hidden;
}

#nav .nav-last {
	border-right: 1px solid #53534a;
}

#nav .subnav-list:hover a,
#nav > li:hover > a {
	color: #000;
	text-decoration: underline rgba(204, 153, 0,0.4);
	opacity: 1;
}

#nav > li > a {
	color: #53534a ;
	font-size: 15px;
	padding: 0 30px;
	text-decoration: none;
	text-transform: uppercase;
}

#nav > li:hover .subnav {
	display: block;
}

#nav .subnav {
  width: 100%;
  height: 566px;
  background-color: #ddd;
  position: absolute;
  top: 38px;
  left: 0;
  list-style-type: none;
  padding: 40px 140px;
  float: left;
  z-index: 3;
  animation: subNavDown 0.4s ease-out;
  display: none;
}

#nav .subnav .subnav-list {
  font-size: 14px;
  display: inline-block;
  width: 24%;
	opacity: 0.75;
  margin: 9px 0;
  text-align: left;
}


#nav .subnav-list::first-letter {
  font-size: 15px;
  font-weight: 900;
}

#nav .subnav .subnav-link {
	text-decoration: none;
	color: #53534a;
	text-transform: uppercase;
}

#slides {
	overflow: hidden;
}

#slides .slides-img {
	width: 100%;
	max-width: 100%;
	transition: all 5s ease;
  z-index: -1;
}

#slides .slides-img:hover {
	transform: scale(1.1);
	opacity: 0.8;	
}

#trademark {
	margin: 0px 82px;
	padding: 40px 15px 0;
	font-size: 13px;
	text-align: center;
}

#trademark .trademark-heading {
 	margin-bottom: 20px;
 	text-transform: uppercase;
 	display: inline-block;
 	font-weight: 500;
 	letter-spacing: 4px;
}

#trademark .trademark-heading:hover {
	text-decoration: underline;
}

#trademark .trademark-heading-link {
	color: #53534a;
	text-decoration: none;
}

#trademark .trademark-list {
  width: 100%;
  display: block;
}

#trademark .trademark-heading-icons {
  position: relative;
  top: -8px;
  margin: 0 8px;
  color: rgba(255,255,255,1);
  min-width: 60px;
  border-bottom: 1px solid #ddd7d5;
  display: inline-block;
}

#trademark .trademark-list-items {
  width: 33%;
  display: inline-block;
}

#trademark .trader-list-img {
  max-width: 260px;
  margin: 0 44px;
  opacity: 0.5;
  transition: opacity 2s;
}

#trademark .trader-list-img:hover {
	opacity: 1;
}

#trademark .trademark-footer {
	margin: 32px 0;
}

#trademark .trademark-footer-link {
	text-decoration: none;
  font-size: 13px;
  color: #63635c;
  padding: 6px 48px;
  border: 1px solid #d7cfcd;
  text-transform: uppercase;
}

#trademark .trademark-footer-link:hover {
	background-color: #dbb86f ;
}

.background_page {
	width: 100%;
}

.background_page .background__img {
	width: 100%;
}

#control {
	width: 100%;
	min-width: 100px;
	background-color: #e2deda;
  display: flex;
  justify-content: space-between;
  margin-top: -4px;
  color: #53534a;
  padding: 0 120px;
}

#control h4 {
	font-size: 14px;
}

#control .control__nav {
	display: inherit;
}

#control .control__nav__item {
	padding: 0 10px;
  border-right: 1px solid;
  position: relative;
}

#control .control__nav__item:hover .item__subnav {
	display: block;
}

#control .control__name {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
}

#control .control__nav__icon {
	font-size: 12px;
	padding-left: 4px;
	color: red;
	font-weight: 900;
}

#control .item__subnav {
  list-style-type: none;
  background-color: #fff;
  position: absolute;
  left: 0;
  border: 1px solid #53534aa6;
  min-width: 150px;
  display: none;
  text-align: left;
}

#control .control__first__item .subnav__list::first-letter {
	font-size: 14px;
  font-weight: 700;
}

#control .subnav__list {
  padding: 2px 7px;
  margin-right: 16px;
}

#control .subnav__list:hover .subnav__link {
	text-decoration: underline;
}

#control .subnav__link {
	text-decoration: none;
  color: #53534a;
  line-height: 1.35;
  font-size: 12px;
  padding: 2px 6px;
}

#control .control__last__item {
	border: none;
}

#control .control__space {
  padding: 18px 0px;
}

#subpage__content {
  width: 100%;
  margin-top: -30px;
  padding:30px 50px 0; 
}

#subpage__content .content__item {
	display: inline-block;
  width: 33%;
  text-align: center;
  padding: 0px 15px;
  margin-bottom: 80px;
  overflow: hidden;
}

#subpage__content .content__item:hover .link__img {
	transform: scale(1.1);
} 

#subpage__content .content__img {
	width: 100%;
  padding-top: 25px;
}

#subpage__content .content__img .link__img {
  transition: all 0.5s ease;
	width: 80%;
}

#subpage__content .content__discription {
  padding: 35px 0 5px;
  font-size: 11px;
  color: #53534a;
}

#subpage__content .content__discription:hover {
	cursor: pointer;
	text-decoration: underline;
}

#subpage__content .content__discription h4 {
	font-size: 12px;
  font-weight: 700;
  padding-bottom: 8px;
}

#subpage__content .content__preze {
	font-size: 14px;
}

#subpage__content .content__buy {
	display: inline-block; 
  text-transform: uppercase;
  font-size: 16px;
  margin: 8px 0 15px;
  width: 100%;
}

#subpage__content .content__preze__sell {
	display: inline-block;
  font-weight: 700;
  margin-right: 8px;
  text-decoration: line-through;
  color: #53534A;
}

#subpage__content .content__preze__real {
  font-weight: 700;
  color: #FF0000;
}

.content__buy {
  padding: 0 40px;
}

#subpage__content .content__buy__about {
	display: inline-block;
  background-color: #53534a;
  border: 1px solid #d7cfcd;
  color: #fff;
  font-size:12px;
  padding: 5px;
  width: 50%;
  transition: all 0.5s ease;
}

#subpage__content .content__buy__about:hover {
  cursor: pointer;
	background-color: #fff;
	color: #53534a;
}

#subpage__content .content__buy__click {
  display: inline-block;
  border: 1px solid #d7cfcd;
  padding: 3px 3px 2.5px;
  width: 50%;
  margin-left: -5px;
  transition: all 0.5s ease;
  position: relative;
  bottom: -2px;
}

.content__buy__click__text {
  text-decoration: none;
  color: #53534a;
  font-size:12px;
  line-height: 10px;
}

#subpage__content .content__buy__click:hover {
  cursor: pointer;
	background-color: #dbb86f;
}

#up_page {
	position: sticky;
  background-color: #d3cbcb;
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 2px #53534a;
  border-radius: 2px;
  right: 30px;
  top: calc(100% - 78px);
  z-index: 3;
}

#up_page .up__page__link {
  text-decoration: none;
  padding: 16px;
}

#up_page .up__page__link:hover .up__icon {
	opacity: 1;
}

#up_page .up__icon {
	color: #000;
  opacity: 0.7;
}

.loading {
  height:60px;
  width: 100%;
  display: flex;
  justify-content: center;

}

.loading-item {
  width:8px;
  height: 8px;
  border-radius:50%;
  background-color: rgb(75, 142, 180);
  display:block;
  animation: loading 3s ease infinite;
  margin:0 5px;
}

.loading-item:nth-child(2) {
  animation-delay: 0.4s;
}

.loading-item:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes loading {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  20% {
    transform: translateY(5px);
    opacity: 0;
  }
  40% {
    transform: translateY(-10px);
    opacity: 1;
  }
  60% {
    transform: translateY(0);
    opacity: 1;
  }
  70% {
    transform: translateY(-2px);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes subNavDown {
  from {
      transform: translateY(100%);
      opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
}
}

 /* product */
#product-container {
  display:flex;
  justify-content: space-between;
  margin: 30px 120px;
}

.product-container__primary {
  width: 66.6%;
  padding-left: 20px;
}

.product-container__primary-image {
  display:flex;
  margin-bottom: 24px;
}

.product-container__primary-image-small {
  padding: 0 25px;
}

.product-container__primary-image-small-img {
  width: 80px;
  border: 1px solid #dfdfdf;
}

.product-container__primary-evaluate {
  max-width: 760px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.product-container__sub {
  width: 33.3%;
  max-width: 362px;
}

.evaluate__header {
  text-align: left;
  margin-bottom: 16px;
}

.evaluate__header-heading {
  font-size: 14px;
  font-weight: 700;
  color: 53534a;
  margin-right:2px;
}

.evaluate__header__icon {
  width: 18px;
  margin:0 1px;
  position: relative;
  bottom:-3px;
  cursor: pointer;
}

.evaluate__header__praise {
  color:#fff;
  font-size: 12px;
  background-color: #52B858;
  padding: 2px 8px;
  border-radius:1px;
  margin-left:10px;
  position: relative;
}

.evaluate__header__praise::before {
  content:"";
  position: absolute;
  top: 2px;
  left: -12px;
  border-width:6px;
  border-style: solid;
  border-color:  transparent #52B858 transparent transparent;
}

#comment {
  text-align: left;
  margin-bottom: 14px;
}

.comment__content {
  width: 100%;
  height: 74px;
  padding: 8px;
  resize: none;
  outline: none;
  margin: 0 0 10px;
  border-radius: 5px;
}

.comment__info {
  width: 204px;
  margin-right: 8px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding:6px 6px;
}

.comment__submit {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90px;
  float: right;
  padding: 6px 34px;
  background-color: #dbb86f;
}

.comment__submit:hover {
  background-color: #fff;
}

.product__buy-heading {
  text-transform: uppercase;
  font-size: 19px;
  font-weight:400;
  border-top: 1px solid #ccc;
  padding: 10px 10px 12px;
  line-height: 20px;
}

.product__buy-ma {
  font-size: 12px;
  color: #777;
  font-weight: 700;
  padding-bottom: 12px;
  display: block;
}

.product__buy-tet {
  font-size: 15px;
  color: #ff0000;
  margin-bottom: 12px;
}

.product__buy-price {
  font-size: 15px;
  margin-bottom: 8px;
}

.product__buy-price-old {
  text-decoration: line-through;

}

.product__buy-price-sale {
  color: #ff0000;
  margin: 0 1px 0 5px;
}

.product__buy-info {
  width: 100%;
  height: 50px;
  background-color: #D9D4CD;
  margin-bottom: 6px;
  position: relative;
}

.product__buy-info-heading {
  text-transform: uppercase;
  font-size: 14px;
  color: #53534a;
  line-height: 50px;
}

.product__buy-info-heading:hover {
  text-decoration: underline;
}

.product__buy-info-icon {
  color: #A09D9B;
  position: absolute;
  right: 12px;
  top:28%;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.product__buy-info-icon:hover {
  transform: rotate(-90deg);
}

.product__buy-social {
  margin: 10px 0;
}

.product__buy-social-icon {
  font-size: 18px;
  color: #A09D9B;
  padding: 0px 12px;
}

.product__buy-social-icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.product__buy-order {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.product__buy-order-ok {
  width: 170px;
  height: 50px;
  background-color: #dbb86f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size:14px;
  text-transform: uppercase;
  position:relative;
  border: 1px solid;
  transition: all 0.15s ease;
  border-color: #ccc transparent #ccc #ccc;
}

.product__buy-order-ok::after {
  content: "";
  position: absolute;
  right: -28px;
  height: 47px;
  width: 54px;
  background-color: #dbb86f;
  border: 1px solid;
  border-color: #ccc #ccc transparent transparent;
  transition: all 0.15s ease;
  transform: skewX(-47deg);
  z-index: -1;
}

.product__buy-order-ok:hover,
.product__buy-order-ok:hover::after {
  background-color: #fff;
}

.product__buy-order-more {
  width: 132px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size:14px;
  text-transform: uppercase;
  color: #fff;
  background-color: #53534a;
  border: 1px solid;
  border-color: #ccc #ccc #ccc transparent;
  transition: all 0.15s ease;
  position:relative;
}

.product__buy-order-more::after {
  content: "";
  position: absolute;
  left: -28px;
  height: 48px;
  width: 54px;
  background-color: #53534a;
  border: 1px solid;
  border-color: #ccc transparent #ccc #ccc;
  transition: all 0.15s ease;
  transform: skewX(-47deg);
  z-index: -1;
}

.product__buy-order-more:hover,
.product__buy-order-more:hover::after {
  background-color: #fff;
  color: #53534A;
  cursor: pointer;
}

.product__buy-pay {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}

.product__buy-pay-online {
  width: 57.5%;
  height: 26px;
  background-color: #dbb86f;
  display: inline-block;
  border: 1px solid #ccc;
  transition: all 0.5s ease;
  line-height: 26px;
}

.product__buy-pay-offline {
  width: 41.5%;
  height: 26px;
  background-color: #dbb86f;
  display: inline-block;
  border: 1px solid #ccc;
  transition: all 0.5s ease;
  line-height: 26px;
}

.product__buy-pay-offline:hover,
.product__buy-pay-online:hover {
  background-color: #fff;
  cursor: pointer;
}
